/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <
                6 7 8 9 10 11
                18 19 20 21 22 23
                30 31 32 33 34 35
                43 44 45 46 47 48 49
                54 55 56 57
            >;
            hold-trigger-on-release;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <
                0 1 2 3 4 5
                12 13 14 15 16 17
                24 25 26 27 28 29
                36 37 38 39 40 41 42
                50 51 52 53
            >;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        layer3 {
            bindings = <&mo 3>;
            key-positions = <52 53>;
        };
    };

    macros {
        fullscreen: fullscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp LALT>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LGUI &kp LALT>;

            label = "FULLSCREEN";
        };

        lefthalf: lefthalf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp LALT>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LGUI &kp LALT>;

            label = "LEFTHALF";
        };

        righthalf: righthalf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp LALT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LGUI &kp LALT>;

            label = "RIGHTHALF";
        };

        leftscreen: leftscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp LALT &kp LCTRL>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LGUI &kp LALT &kp LCTRL>;

            label = "LEFTSCREEN";
        };

        rightscreen: rightscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp LALT &kp LCTRL>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LGUI &kp LALT &kp LCTRL>;

            label = "RIGHTSCREEN";
        };

        eraseword: eraseword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp BACKSPACE>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        // à è ù (dead grave = `)

        a_grave: a_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp A>;
        };

        e_grave: e_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
        };

        u_grave: u_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp U>;
        };

        // é (dead acute = Shift+')

        e_acute: e_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp APOS &kp E>;
        };

        // â ê î ô û (dead circumflex = Shift+6)

        a_circ: a_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp A>;
        };

        e_circ: e_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp E>;
        };

        i_circ: i_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp I>;
        };

        o_circ: o_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp O>;
        };

        u_circ: u_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N6) &kp U>;
        };

        // ë ï ü ÿ (dead diaeresis = Shift+')  ← attention même dead key que acute sur certains layouts

        e_uml: e_uml {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(APOS) &kp E>;
        };

        i_uml: i_uml {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(APOS) &kp I>;
        };

        u_uml: u_uml {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(APOS) &kp U>;
        };

        // ç (direct en US Intl = Alt+,)

        c_ced: c_ced {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp APOS &kp C>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                    |  Y   |  U    |  I    |  O   |   P   |   -   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                    |  H   |  J    |  K    |  L   |   ;   |   '   |
            // |  CTRL |  Z  |  X  |  C   |  V   |  B   |   "["  |  | ENTER  |  N   |  M    |  ,    |  .   |   /   |   =   |
            //                     | ALT  | GUI  | LOWER|TAB/RAIS|  | SPC/L3 | SPACE| BSPC  |  DEL  |

            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                            &kp N6       &kp N7    &kp N8      &kp N9   &kp N0    &kp GRAVE
&kp TAB           &kp Q   &kp W   &kp E     &kp R     &kp T                             &kp Y        &kp U     &kp I       &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT    &hml LGUI A  &hml LALT S  &hml LSHIFT D    &hml LCTRL F    &kp G                             &kp H        &hmr RCTRL J    &hmr RSHIFT K      &hmr RALT L   &hmr RGUI SEMI &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp LBKT     &kp ENTER     &kp N        &kp M     &kp COMMA   &kp DOT  &kp FSLH  &kp EQUAL
                                  &kp LALT  &kp LGUI  &mo 1   &lt 2 TAB    &lt 3 SPACE  &lt 4 SPACE  &kp BSPC  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      | S+PSCN| PSCRN |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |       |       |      |       | BSPC  |
            // |  F7   |  F8 |  F9 |  F10 |  F11 |  F12 |                   |LHALF |LSCRN  |RSCRN  |RHALF |       |       |
            // |       |     |     |      |      |      |        |  |       |      |  -    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans  &trans   &trans   &trans                     &trans     &trans       &trans        &trans      &kp LS(PRINTSCREEN)  &kp PRINTSCREEN
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans     &trans       &trans        &trans      &trans               &kp BACKSPACE
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12                    &lefthalf  &leftscreen  &rightscreen  &righthalf  &trans               &trans
&trans  &trans  &trans  &trans   &trans   &trans   &trans    &trans  &trans     &kp MINUS    &kp PLUS      &kp LBRC    &kp RBRC             &kp PIPE
                        &trans   &trans   &trans   &trans    &trans  &trans     &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |BRI- |BRI+ | PREV | PLAY | NEXT |                   |      |       |       |      |       |       |
            // |       |     |     | MUTE | VOL- | VOL+ |                   | HOME | PGDN  | PGUP  | END  |       | ERASEW|
            // | SHIFT |     |     |      | FSCRN|      |                   |  <-  |   v   |   ^   |  ->  |       |       |
            // |       |     |     |      |      |      |        |  |       |      |       |       |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans          &kp C_BRI_DEC  &kp C_BRIGHTNESS_INC  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT                      &trans          &trans          &trans        &trans     &trans    &trans
&trans          &trans         &trans                &kp K_MUTE  &kp C_VOL_DN      &kp C_VOL_UP                    &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &trans    &eraseword
&kt LEFT_SHIFT  &trans         &trans                &trans      &fullscreen       &trans                          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans    &trans
&trans          &trans         &trans                &trans      &trans            &trans        &trans    &trans  &trans          &trans          &trans        &kp LBKT   &kp RBKT  &kp BSLH
                                                     &trans      &trans            &trans        &trans    &trans  &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |       |     |     |  é   |      |      |                   |      |  ù    |  î    |  ô   |       |       |
            // |       |  à  |     |      |      |      |                   |      |  ü    |  ï    |  ë   |       |       |
            // |       |     |     |  ç   |  â   |  ê   |        |  |       |  û   |  è    |       |      |       |       |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans    &trans  &trans    &trans   &trans                     &trans   &trans    &trans   &trans   &trans  &trans
&trans  &trans    &trans  &e_acute  &trans   &trans                     &trans   &u_grave  &i_circ  &o_circ  &trans  &trans
&trans  &a_grave  &trans  &trans    &trans   &trans                     &trans   &u_uml    &i_uml   &e_uml   &trans  &trans
&trans  &trans    &trans  &c_ced    &a_circ  &e_circ  &trans    &trans  &u_circ  &e_grave  &trans   &trans   &trans  &trans
                          &trans    &trans   &trans   &trans    &trans  &trans   &trans    &trans
            >;
        };

        layer_4 {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |       |     |     |      |      |      |                   | BTCLR| BT0   | BT1   | BT2  |       |       |
            // |       |     |     |      |      |      |                   | EP_ON|EP_OFF |EP_TOG |      |       |       |
            // |       |     |     |      |      |      |        |  |       |      |       |       |      |       |       |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans            &trans             &trans             &trans        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &bt BT_CLR        &bt BT_SEL 0       &bt BT_SEL 1       &bt BT_SEL 2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &trans        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans            &trans             &trans             &trans        &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans            &trans             &trans
            >;
        };
    };
};
